@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #F5F5F5;
}

/* Custom background geometry */
.grid-beams {
  background-image: linear-gradient(rgba(255, 153, 51, 0.05) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255, 153, 51, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}
